body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, #fff 75%, #1a1cdb 25%);
	font-family: 'PT Sans', sans-serif;
}


/*====================Style for navigation======================*/

.img {
	width: 2%;
	margin-left: 73%;
	margin-bottom: 7%;
	margin-top: -96%;
	}
	
.photo-mode {
	position: fixed;
	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	width: 100px;
	height: 80px;
	z-index: 450;
	left: 10.3%;
	margin-top: 5%;
	
}

.phot {
	position: fixed;
	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	width: 900px;
	height: 600px;
	
	left: -1%;
	margin-top: -5%;
	
}




.navi {
		color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 25%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 52%;
	width: 27.5%;
	color: #000000;
	font-size: 20px;
	margin: 0;
	padding: 0;
	z-index: 450;
	
}


.log {
	width: 7%;
	margin-left: 18%;
	margin-bottom: 20%;
	margin-top: -10.1%;
	}	
	
.lego {
	width: 2%;
	margin-left: 83%;
	margin-bottom: 5.7%;
	margin-top: 3%;
	}	

.navigation {
	z-index: 20;
	width: 100%;
	top: 3%;
	position: absolute;
	display: flex;
	align-items: center;
}

.logo {
	width: 15%;
	display: flex;
	align-items: center;
}



.logotype {
	max-width: 120px;
	margin-left: 50%;
}


.nav-menu {
	width: 20%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 100%;
}

.nav-item {
	padding: 0 10px;
}

.nav-link {
	text-decoration: none;
	color: #e01533;
	font-size: 16px;
	border-bottom: 2px solid transparent;
	transition: .3s;
	font-weight: bold;
}

.nav-link:hover {
	border-bottom: 2px solid #e01533;
}

.search-block {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.searsh {
	display: flex;
	background-color: #fff;
	border: 2px solid #e01533;
	border-radius: 30px;
	width: 50%;

}

.search-form {
	padding-left: 5%;
	width: 90%;
	height: 25px;
	z-index: 10;
	border-radius: 30px;
	border: none;
	outline: none;
	font-weight: bold;
	color: #6f6f6f;
	
}

.search-btn {
	color: #e01533;
	font-size: 17px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	
}

.personal-item {
	width: 15%;
}

.personal-item_tag {
	width: 15%;
	
}

.auth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
}

.auth_tag {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
}

.auth-link_tag {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #6f6f6f;
	text-decoration: none;
	font-weight: bold;	
	font-size: 16px;
	transition: .3s;
	
}



.auth-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #6f6f6f;
	text-decoration: none;
	font-weight: bold;	
	font-size: 16px;
	transition: .3s;
}

.auth-link i {
	padding: 0 5px;
	font-size: 20px;
	color: #e01533;
}

.auth-link:hover {
	color: #e01533;
}

/*===========Style for mobile menu==============*/
.burger-link {
	display: none;
	position: absolute;
	top: 3%;
	right: 10%;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #e01533;
	background: #fff;
	z-index: 100;
}

.burger-link span, .burger-link span:before, .burger-link span:after {
	display: block;
	height: 2px;
	width: 18px;
	background-color: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: 0;
}

.burger-link span:before {
	transition: all .3s;
	margin-top: -6px;
	content: '';
}

.burger-link span:after {
	transition: all .3s;
	margin-top: 4px;
	content: '';
}

.burger-link_active span:before {
	transform: rotate(45deg);
	margin-top: 0;
}

.burger-link_active span:after {
	transform: rotate(-45deg);
	margin-top: 0;
}

.burger-link_active span {
	background: transparent;
}

.mobile-nav {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #e01533;
	transition: .5s;
	z-index: 99;
	left: -100%;
}

.nav-active {
	left: 0;
}

.mobile-menu {
	list-style: none;
	text-align: center;
}

.menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}

.menu-link {
	color: #fff;
	font-size: 20px;
	letter-spacing: 5px;
	text-decoration: none;
	z-index: 1;
}


/*=====================Style for sign-block=====================*/


.sig_block {
	position: fixed;
	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
	z-index: 300;
	left: 20%;
	margin-top: -11%;
}

.sig {
	background: #fff;
	width: 180px;
	height: 180px;
	border-radius: 20px;
	border: 2px solid rgba(6000, 114, 114, .5);
	
}


.si_block {
	position: fixed;
	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
	z-index: 300;
	left: 5%;
	margin-top: -11%;
}


.si {
	background: #fff;
	width: 180px;
	height: 180px;
	border-radius: 20px;
	border: 2px solid rgba(6000, 114, 114, .5);
	
}


.signn_block {
	position: fixed;
	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
	z-index: 200;
	left: 2%;
	margin-top: -14%;
}

.signn {
	background: #DC143C;
	width: 850px;
	height: 470px;
	border-radius: 20px;
	border: 2px solid rgba(6000, 114, 114, .5);
	
}

.sign-block {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	z-index: 500;
	box-sizing: border-box;
	margin-top: -26%;
	
}

.social_tag {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	z-index: 500;
	box-sizing: border-box;
	margin-top: -26%;
}

.sign-block_active {
	display: flex;
}

.sign {
	background: #fff;
	width: 350px;
	height: 400px;
	border-radius: 20px;
}

.social_tag_tag {
	background: #fff;
	width: 350px;
	height: 400px;
	border-radius: 20px;
}

.exit {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 0 20px 0 20px;
	position: relative;
	left: calc(100% - 30px);
	background: rgba(114, 114, 114, .15);
	transition: .3s;
}

.exit_tag {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 0 20px 0 20px;
	position: relative;
	left: calc(100% - 30px);
	background: rgba(114, 114, 114, .15);
	transition: .3s;
}

.exit:hover {
	background: #e01533;
	color: #fff;
}

.sign-head {
	font-size: 35px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	user-select: none;
}

.sign_tag {
	font-size: 35px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	user-select: none;
}

.input-data, .input-btn {
	width: 70%;
	margin: 25px auto;
}

.input-data input {
	width: 100%;
	border: 2px solid rgba(114, 114, 114, .5);
	border-radius: 15px;
	outline: none;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	transition: .3s;
	height: 25px;
	text-align: center;
}

.input-data input:focus {
	border: 2px solid #e01533;
	color: #e01533;
}



.input-btn input{
	width: 100%;
	border: 2px solid #e01533;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	background: #e01533;
	padding: 6px 0;
	transition: .3s;
}

.input_tag input{
	width: 100%;
	border: 2px solid #e01533;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	background: #e01533;
	padding: 6px 0;
	transition: .3s;
}

.input-btn input:hover {
	background: #fff;
	color: #e01533;
}

.notReg {
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
	user-select: none;
}

.notReg-btn input {
	background: #fff;
	color: #e01533;
}

.notReg-btn input:hover {
	background: #e01533;
	color: #fff;
}

/*=====================Style for main-information===============*/
.animated {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: -10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 22%;
	color: #333;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.animate {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 26%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 23.7%;
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 450;
}








/*=====================Style for social=========================*/
.social {
	left: 7%;
	position: absolute;
	bottom: 3%;
	width: 86%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}





.connect {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	text-align: right;
}

.photo-model {
	
   
	
	position: absolute;
	top: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70%;
	left: 64%;
	
	
	
 }

.wrapper {
	max-width: 500px;
	margin: 0 auto;
	font-family: Arial;

}

.ttn {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 53%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 11.3%;
	
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 500;
	
	cursor: pointer;
	
}

.popup {
	display: none
	margin: 0 auto;
	width: 25%;
	background-color: #fff;
	color: white;
	padding: 200px;
	position: fixed;
	transition: .5s all;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	top: -999px;
	border: 2px solid #e01533;
	border-radius: 30px;
	left: 35%;
	
	
	
	
}
 
.popup input: {
	display: block;
	width: 100%;
	border: ;
	height: 25px;
	line-height: 25px;
	margin: 10px 0;
	background-color: #fff;
	
}

.submit {
	background-color: #fff;
	cursor: pointer;
}

#modal {
	display: none;
}

#modal:checked ~ .popup {
	top: 100px;

}



.tt {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 6%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 95%;
	
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 500;
	
	cursor: pointer;
	
}

.ph {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 12%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 29%;
	width: 45%;
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 450;
	
	cursor: pointer;
	
}


.pho {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 91%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 34.5%;
	width: 30%;
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 450;
	
	cursor: pointer;
	border-radius: 30px;
	
}


.date {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 80%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 64%;
	width: 31%;
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 450;
	
	cursor: pointer;
	border-radius: 30px;
}

.ua {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: -23%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 0%;
	color: #333;
	font-size: 20px;
	margin: 0;
	padding: 0;
	z-index: 450;
	left: 49%;
	
}


.ue {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 22%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 0%;
	color: #333;
	font-size: 20px;
	margin: 0;
	padding: 0;
	z-index: 450;
	left: 17%;
	
}


.ue1 {
	color: #6f6f6f;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 43%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 0%;
	color: #333;
	font-size: 12px;
	margin: 0;
	padding: 0;
	z-index: 450;
	left: 78%;
	
}

.ue2 {
	color: #6f6f6f;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 40.3%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	width: 42%;
	color: #333;
	font-size: 12px;
	z-index: 450;
	left: 10%;
	
}


.choice1 {
	
	font-size: 20px;
	
	
	position: absolute;
	top: 80.4%;
	
	
	left: 6%;
	width: 50%;
	
	font-size: 13px;
	
	z-index: 450;
	
	
	border-radius: 30px;
}


.yolla {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 7%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 52%;
	width: 27.5%%;
	color: #333;
	font-size: 20px;
	margin: 0;
	padding: 0;
	z-index: 450;
	left: 12%;
	
}


.wrapper1 {
	max-width: 500px;
	margin: 0 auto;
	font-family: Arial;

}

.1ttn {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 59%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 11.3%;
	
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 500;
	
	cursor: pointer;
	
}


.wer {
	display: none
	margin: 0 auto;
	width: 25%;
	background-color: #fff;
	color: white;
	padding: 200px;
	position: fixed;
	transition: .5s all;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	top: -999px;
	border: 2px solid #e01533;
	border-radius: 30px;
	left: 35%;
	
}


.ghhh {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 53%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 11.3%;
	
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 500;
	
	cursor: pointer;
}


#mod {
	display: none;
}

#mod :checked ~ .wer {
	top: 10%;
}


.wrapper1 {
	max-width: 500px;
	margin: 0 auto;
	font-family: Arial;

}


.wer input: {
	display: block;
	width: 100%;
	border: ;
	height: 25px;
	line-height: 25px;
	margin: 10px 0;
	background-color: #fff;
	
}



.connect {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	text-align: right;
	
}

.conj {
	color: #6f6f6f;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	position: absolute;
	top: 33%;
	display: block;
	justify-content: space-around;
	align-items: center;
	left: 11.3%;
	
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
	z-index: 500;
	
	cursor: pointer;
}

.photo-window {
	width: 55%;
	margin-left: -22%;
	margin-bottom: 20%;
	margin-top: -4%;
}

